<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/olk3wss.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <title>Welcome to HIV/AID</title>
</head>
<body>
    <header>
    <div id="mainHeader">
        <div class="backgroundFill"></div>
        <div id="logo"></div>
        <nav id="mainNav">
            <ul>
                <li><a href="#index">HOME</a></li>
                <li><a href="#HIV">HIV/AIDS</li>
                <li><a href="#discrimination">0 DISCRIMINATION</a></li>
                <li><a href="#prevention">PREVENTION</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
        <div class="backgroundFill"></div>
    </div>
    </header>
    <div id="index" class="subContainer">
        <div id="video">
            <video controls>
                <source src="video/hiv_video.mp4" type="video/mp4" autoplay control>
            </video>
        </div>
        <div id="title">
            <div id="indexSub">
                <h2>ZERO AIDS?<br>First zero discrimination<br></h2>
                <p><br>HIV is not something that “guilty” people get. It is not a punishment for cheating, lying, using drugs or alcohol, having more than one partner, or not asking the right questions. 
                    <br><br><br>
                    <span>-POSITIVE WOMEN'S NETWORK OF THE UNITED STATES OF AMERICA</span>
                </p>
            </div>
        </div>
    </div>

    <!-- HIV / AIDS -->
    <div id="HIV" class="subContainer">
        <div class="HIVsub">
            <div class="textInfo">
                <h2>What is HIV/AIDS?<br>What is different?<br></h2>
                <p><br>HIV is a virus that damages the immune system.<br><br><br>
                    To develop AIDS, a person has to have contracted HIV. But having HIV doesn’t necessarily mean that someone will develop AIDS.
                    <br>
                </p>


                <div class="readmore"><a href="#">Read more...</a></div>

            </div>
        </div>
        <div class="HIVsub" id="HIVrightBlock">
            <div id="hiv">
                <div id="hivIntro" class="intro">
                    <div>
                        <p>HIV (human immunodeficiency virus) is a virus that attacks cells that help the body fight infection, making a person more vulnerable to other infections and diseases.</p>
                    </div>
                </div>
                <div id="hivPic">
                    <img src="images/virus.svg" alt="virus">
                </div>
                
            </div>
            <div id="aids">
                <div id="aidsPic">
                    <img src="images/dna.svg" alt="DNA">
                </div>
                <div id="aidsIntro" class="intro">
                    <div>
                        <p>AIDS is the late stage of HIV infection that occurs when the body’s immune system is badly damaged because of the virus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 0 DISCRIMINATION -->
    <div id="discrimination" class="subContainer">
        <div id="heart">
            <img src="images/hug.png" alt="huge">
        </div>
        <div id="discriminationSub">
            <div class="textInfo">
                <h2>Ending HIV stigma<br>and discrimination<br></h2>
                <p><br>Discrimination is more scary than a virus<br><br>
                    There are three ways to spread AIDS: blood, mother and child, and sex. Then in addition to these three ways, general hugs, handshake, and courtesy kissing will not be transmitted, so close contact with AIDS patients will not cause HIV infection.
                    
                </p>

                <div class="readmore"><a href="#">Read more...</a></div>

            </div>
        </div>
    </div>

    <!-- PREVENTION -->
    <div id="prevention" class="subContainer">
        <div id="preventionSub">
            <div class="textInfo">
                <h2>HIV prevention<br></h2>
                <p><br>Safer sex, Avoid sharing needles or other drug paraphernalia.<br><br><br>
                    Although many researchers are working to develop one, there’s currently no vaccine available to prevent the transmission of HIV. However, taking certain steps can help prevent the spread of HIV.
                    <br>
                </p>

                <div class="readmore"><a href="#">Read more...</a></div>

            </div>
        </div>
        <div id="condom">
            <img src="images/condom.png" alt="condom">
        </div>
    </div>

    <!-- CONTACT -->
    <div id="contact">
        <div id="contactTitle">
            <div id="contactSub">
                <div>
                <h2>Want get more knowledge about HIV?</h2>
                </div>
            </div>
            <div id="contactForm">
                <form action="sign-up.php" method="post" id="form">
                    <h2>Subscription</h2>
                    <div class="others">
                    <input id="name" v-model="name" type="text" name="name" placeholder="Name">
                    </div>
                    <div id=genderAge>
                    <input id="gender" class="genderAge" v-model="gender" type="text" name="gender" placeholder="Gender">
                    <input id="age" class="genderAge" v-model="age" type="text" name="age" placeholder="Age">
                    </div>
                    <div id=others>
                    <input id="email" v-model="email" type="email" name="email" placeholder="Email">
            
                    <input id="message" v-model="message" type="text" name="message" placeholder="Message">
                    </div>
            
                    <button name="submit">Submit</button>
                    </form>
            </div>
        </div>
        <div id="contactDetail">
            <h2>Contact Information</h2>
            <div id="contactInfo">
            <div class="contactInfo">
                <p>Address: #30-186 King Street
                    London, ON
                    N6A 1C7</p>
            </div>
            <div class="contactInfo">
                <p>Phone: 519-434-1601</p>
            </div>
            <div class="contactInfo">
                <p>E-mail: info@hivaidsconnection.ca</p>
            </div>
            <div class="contactInfo">
                <p>Website: http://hivaidsconnection.ca/</p>
            </div>
        </div>
        </div>
    </div>

    <script src="js/main.js" type="module"></script>
</body>
</html>