// 0 discrimination page style
#discrimination {
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: row;
}

#redRibbon {
    width: 50%;
    height: 100%;
    background: #65b12e;
}