.detail-body {
    background: #363636;
    min-height: 100vh;
}


.detail-header-image {
    width: 20%;
    img {
        width: 50%;
    }
}

.detail-header-title {
    color: #fff;
    text-align: center;
}